.container{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
 
}

.first-column{
    background-color: hsl(31, 77%, 52%);
    height: 55vh;
    padding: 2vw;
    width: 17vw;
    border: 2px solid hsl(31, 77%, 52%);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
h2{
    font-family: 'Big Shoulders Display', sans-serif;
  
    color: white;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    color: white;
    line-height: 25px;
}

.second-column{
    background-color: hsl(184, 100%, 22%);
    padding: 2vw;
    width: 17vw;
    height: 55vh;
    border: 2px solid hsl(184, 100%, 22%);
  
}

.third-column{
    background-color: hsl(179, 100%, 13%);
    padding: 2vw;
    width: 17vw;
    height: 55vh;
    border: 2px solid hsl(179, 100%, 13%);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
button{
    margin-top: 12vh;
    border: 2px solid white;
    border-radius: 2rem;
    background-color: white;
    width: 10vw;
    height: 7vh;
}
@media (max-width:675px){
    .container{
        flex-direction: column;
    }
    .first-column{
        border-radius: 1rem;
        width: 80vw;
        height: 40vh;
    }
    .second-column{
        border-radius: 1rem;
        width: 80vw;
        height: 40vh;
    }
    .third-column{
        border-radius: 1rem;
        width: 80vw;
        height: 40vh;
    }
    button{
        margin-top: -12vh;
    }
}

